/* Estilos para el componente Home */
.home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el carrusel */
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-slide {
    float: left;
    min-height: 1px;
    display: none;
  }